html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #0f32f7 0%, #1755ff 100%);
    font-family: 'Coda', cursive;
    position: relative;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/*
 * Styles for the deck of cards
 */


.deck {
    width: 500px;
    min-height: 500px;
    background: linear-gradient(160deg, #54ceff 0%, #396eff 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 500px;
    list-style:none;
}

.deck li {
    perspective: 500px;
}

.deck .card {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    background: #87b7ff;
    font-size: 12;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform-style: preserve-3d;
    perspective: 500px;
    transition: .5s ease; 

}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 1;
    color: #000;
    border-radius: 8px;
    transform:rotateY(180deg);
    background: linear-gradient(#f7931d, #ea6616);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-back i {
    color: #fff;
    font-size: 40px;
}

.deck .card.open{
    transform: rotateY(180deg);
}

 /* .deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
} */

/* .deck .card.show {
    font-size: 33px;
} */

.deck .card.match .card-back{
    cursor: default;
    background: linear-gradient(#f4e21d, #efde8a);
    font-size: 40px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #f4e21d;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
ul.stars {
    margin: 0;
    padding: 0;
}
.fa-star {
    font-size: 3em;
    color: rgb(59, 57, 40);
    padding: 0 5px;
}

.fa-star.on {
    color: #f4e21d;
}

.score-panel .restart {
    cursor: pointer;
}

/*
 * Styles for the Game Over Modal
 */

#game-over-modal {
    font-size: 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(.5,.5,.5,.5);
    opacity: 0;
    transition: .25s;
    z-index: -2;
}

#game-over-modal h2 {
    color: #fff;
    font-size: 2em;
}

#game-over-modal .btn-yes {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    color: #ea6616;
    background-color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 20px;

}

#game-over-modal.reveal {
    opacity: 1;
    z-index: 2;
}

.modal-container {
    color: #faf1c7;
    background-color: #eb8545;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align:center;
    padding: 30px 0;
}

/* @media screen and (max-width: 426px) {
    .deck {
        width: 375px;
        height: 375px;
    }
    .deck .card {
        width: 70px;
        height: 70px;
    }
} */

